 @font-face {
    font-family: 'Tenor Sans';
    src: url('../fonts/TenorSans.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  

   @font-face {
    font-family: 'Exo 2';
    src: url('../fonts/Exo2-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }


  @font-face {
    font-family: 'Exo 2';
    src: url('../fonts/Exo2-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  