@use 'helpers' as *;

html {
    &.is-lock {
        overflow: hidden;
    }
}

body {
    @include fluid-text(16, 16);
    font-family: var(--font-family-accent);
    letter-spacing: 0.05em;
    color: var(--white);
    background-color: var(--white);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    color: var(--white);

}

h1, .h1,
h2, .h2,
h3, .h3 {
    font-family: var(--font-family-base);
    font-weight: 400;
    text-transform: uppercase;
}

h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: 400;
}

h1, .h1 {
    @include fluid-text(48, 22);
    line-height: 1.3;
}

h2, .h2 {
    @include fluid-text(48, 22);
    line-height: 1.3;
}

h3, .h3 {
   @include fluid-text(32, 22);
    line-height: 1.3; 
}

h4, .h4 {
    @include fluid-text(24, 16);
    line-height: 1.2;
}

h5, .h5 {
    @include fluid-text(16, 16);
    line-height: 1.2;
}


a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}


a {
    color: inherit;

    @include hover {
        color: var(--light-gray);
    }

    &[class] {
        text-decoration: none;
    }
}

//стили при навигации с клавиатуры через Tab
:focus-visible {
    outline: rem(2) dashed var(--white);
    outline-offset: rem(4);
    transition-duration: 0s !important;
}

a,
button {
    &[aria-label] {
        position: relative;

        &::before {
            @include abs-center;
            @include square(rem(44));

            content: '';
        }
    }
}