@use 'helpers' as *;


.container {
    //Формула для вычислений контейнера с отступами
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);

    //центрирование элементов по горизонтали
    margin-inline: auto;

    //Для внутренних горизонтальных отступов
    padding-inline: var(--container-padding-x);
}

.visually-hidden {
    @include visually-hidden;
}

.hidden-mobile {
    @include mobile {
        display: none !important;
    }
}

.visible-mobile {
    @include mobile-above {
        display: none !important;
    }
}