@use '../setup/helpers' as *;

.burger-button {
    @include square(rem(34));
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(9.71) rem(3);
    color: var(--white);
    background-color: transparent;
    border: none;
    z-index: 5;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;

    &__text {
    position: absolute;
    left: -5rem;
    top: 15px;
    opacity: 0;
    color: var(--white);
    font-size: rem(14);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

    &__line {
        width: 100%;
        height: rem(1);
        background-color: currentColor;
        border-radius: 1rem;
        transition-duration: var(--transtition-duration);
    
    &:nth-child(3) {
        width: 71%;
    }

    &:last-child {
        width: 50%;
    }
    }
}
