@use '../setup/helpers' as *;

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: rem(16.5) rem(19.5);
    font-weight: 600;
    background-color: var(--gold);
    border: var(--border-gold);
    white-space: nowrap;
    border-radius: rem(40);
    z-index: 10;
    cursor: pointer;
    transition: background-color .2s ease, border-color .2s ease, color .2s ease;
    width: 100%;
    max-width: rem(213);
    
    @include mobile-above {
        padding: rem(17.5) rem(19.5);
    }
    
    &:hover {
        color: var(--gold);
        background-color:var(--white);
        border: var(--border-gold);
    }
    &:active {
        background-color: var(--light-gray);
        color: var(--black);
    }

     &-call {
        border: var(--border-white);

        &:hover {
            color: var(--gold);
            background-color:var(--white);
            border: var(--border-gold);
        }
        &:active {
            color: var(--white);
            background-color:var(--light-gray);
            border: var(--border-white);
        }
    }
    
    &-accent {
        border: var(--border-white);
        background-color: transparent;

        &:hover {
            border: var(--border-white);
            background-color: var(--light-gray);
            color: var(--white);
        }
        &:active {
            color: var(--white);
            background-color:var(--light-gray);
            border: var(--border-white);
        }
    }
}
