@use "../../setup/helpers" as *;

.section-about {
    background-image: url(/img/about-mobile.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: rem(350);

    @include laptop-above {
        background-image: url(/img/about-fon.png);
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: rem(1920);
    }
}

.about {
    padding-left: 0;
    padding-top: rem(69);

    &__item-wrap {
    display: flex;

        &-mobile {
            flex-direction: column;
        }
    }

    &__item {
        display: flex;
        height: rem(162);
        justify-content: space-between;
        padding: rem(16);
        width: rem(160);
        flex-direction: column;

        &-icon {
            align-self: end;
            @include square(rem(36));
        }

        &-num {
            color: var(--gold);
            @include fluid-text(48, 32)
        }

        &-text {
            color: var(--blue);
        }
    }

    &__item-1,
    &__item-3,
    &__item-5,
    &__item-6 {
        border-right: var(--border-blue);
    }

    &__item-1,
    &__item-2,
    &__item-3,
    &__item-4,
    &__item-5,
    &__item-6 {
        border-bottom: var(--border-blue);
    }

     &__item-6 {
        margin-bottom: rem(46);
    }   

    @media (min-width: 900px) {
        margin-left: clamp(0rem, (47.4667vw - 33.73335rem), rem(356));
        padding-bottom: clamp(#{rem(46)}, 16.14vw - #{rem(83.1)}, #{rem(153)});
        &__item-wrap {
            display: flex;

            &-mobile {
                flex-direction: row;
            }
        }

        &__item {
            height: rem(202);
            padding: rem(24);
            width: rem(320);
            flex-direction: column;

            &-icon {
                align-self: end;
                @include square(rem(60));
            }
        }

        &__item-5,
        &__item-6 {
            border-bottom: none;
        }
        
        &__item-2,
        &__item-4 {
            border-right: none;
        }
        
        &__item-5 {
             border-right: var(--border-blue);
        }

        &__item-6 {
            border-right: none;

        }
    }

      @include laptop-above {
        &__item-wrap {
            display: flex;

            &-mobile {
                flex-direction: row;
            }
        }

        &__item {
            height: rem(202);
            padding: rem(24);
            width: rem(320);
            flex-direction: column;

            &-icon {
                align-self: end;
                $fluid-size: clamp(#{rem(30)}, (2.857vw + #{rem(19.286)}), #{rem(60)});
                width: $fluid-size;
                height: $fluid-size;
        
                 > svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &__item-5,
        &__item-6 {
            border-bottom: none;
        }

        &__item-6 {
            border-right: none;
        }
    }
}

